<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I’m a robotics engineer specialized in Intelligent Systems from
        Sorbonne University, with hands-on experience in
        autonomous firefighting robots, Smart Factory 4.0 projects,
        and drone fleets for pollution measurement. My background
        spans Python, ROS 2, neural networks, computer vision, and
        signal processing, enabling me to approach challenges from a
        broad, innovative perspective..</p>
      </div>
      <div class="col-lg-4">
        <p>I’m a curious individual who thrives on learning from diverse experiences. 
          Having worked in various types of organizations—ranging from Airbus to Shark Robotics—and traveled extensively, 
          including humanitarian missions in South Sudan, 
          I’ve developed independence, adaptability, and a global outlook that fuel my drive to explore and innovate. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
